img {
    width:500px;
}

.column {
    background-color: cyan;
    padding-bottom: 1px;
}

.column2 {
    
    float: inherit;
    background-color: azure;
}

.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: beige;
}

#selfie {
    width:300px;
    float: left;
}