img {
    width:500px;
}

#border2 {
    background-color: cyan;
    border: 2px solid cyan;
}

.column {
    background-color: purple;
    padding-bottom: 1px;
}

.column2 {
    
    float: inherit;
    background-color: azure;
}

.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: pink;
}

#selfie {
    width:300px;
    float: left;
}

#h1 {
    color: red;
}

.border {
    border: 2px solid black;
    padding-bottom: 10px;
}